#**DATA TYPES AND STRUCTURES**

#**Theoretical Questions**

1. **What are data structures, and why are they important?**

  Ans. Data structures are essential tools for organizing and managing data efficiently. They provide ways to store and manipulate collections of data. They are important:
  - Provides efficient data management.
  - Improves organisation of code and readability.
  - Helps in building specific algorithms.
  - Helps in making Python a versatile language.
  - Different kinds of problem could be solved easily with well defined structures.

---

2. **Explain the difference between mutable and immutable data types with examples.**

  Ans. Mutable data types are those whose values can be altered after their creation. This means we can change their content without creating a new object in memory. E.g., Lists, Dictionaries, Sets.

  Immutable data types are those whose values cannot be changed after they are created. Any operation that appears to modify an immutable object actually creates a new object in memory. E.g., Tuples, Strings, Integers, Floats, Booleans.

---

3. **What are the main differences between lists and tuples in Python?**

  Ans. The main difference is that lists are mutable data type and tuples are immutable.

---

4. **Explain how dictionaries store data.**

  Ans. Dictionaries store data in key-value pairs. Each key acts as a unique identifier for it's element. They are mutable and unordered. The keys must be unique, if we try to make a new key with same name, the new entry will override the values present before.

---

5. **Why might you use a set instead of a list in Python?**

  Ans. We can use a set instead of list when we don't want to store duplicate data in our memory. Sets help us to store unique data and also we can perform set-like operations with the help of this data type.

---

6. **What is a string in Python, and how is it different from a list?**

  Ans. String is a fundamental data type used to store text as a sequence of characters. It is different from list as the contents of a list are mutable that is it can be removed or altered or even new elements can be added but a string is immutable data type, apart from accessing a particular string character nothing else can be done with it.

---

7. **How do tuples ensure data integrity in Python?**

  Ans. Since tuples are immutable, it means that once a tuple is created it's contents can't be altered later on which keeps the data safe from unauthorised manipulation.

---

8. **What is a hash table, and how does it relate to dictionaries in Python?**

  Ans. A hash table is a data structure that uses a 'hash function' to map keys to values, enabling efficient data retrieval. It relates to dictionaries in Python as the dict data type is implemented using a hash table. It forms a key-value relationship and that's why it also offers very fast average-case performance for lookups, insertions, and deletions.

---

9. **Can lists contain different data types in Python?**

  Ans. Yes, lists can contain different data types in Python.

---

10. **Explain why strings are immutable in Python.**

  Ans. Strings are immutable in Python as it's a design choice that offers several important benefits. Some of these are:
  1. Memory Effiency:
      - When multiple variables refer to the same string, Python can optimize memory usage by having them all point to the same memory location.
      - If strings were mutable, Python would have to create separate copies of each string, which would consume more memory.
  2. Performance Optimization:
      - Immutability allows Python to perform certain optimizations, such as caching hash values.
      - Hash values are used in dictionaries and sets, and if strings were mutable, their hash values could change, which would lead to inconsistencies.
  3. Security:
      - Immutability enhances security by preventing accidental or malicious modification of strings.
      - This is especially important in situations where strings are used to store sensitive data, such as passwords or file paths.
  4. Use as Dictionary Keys:
      - Dictionaries in Python require their keys to be immutable.
      - Since strings are immutable, they can be used as reliable keys in dictionaries.

---

11. **What advantages do dictionaries offer over lists for certain tasks?**

  Ans. Dictionaries offer significant advantages over lists for specific tasks, primarily when dealing with data that has a clear key-value relationship.
  - Dictionaries uses hash table which enables faster lookup based on keys. While lists generally iterates over each item till the desired item is found, meaning as lists become larger the time taken to find an element also becomes high.
  - Dictionaries are handy when it is clear that their is a association allowing a key-value pair to form.
  - Dicts provide a clear and organised way to store data, which the list can't provide.
  - Dicts can represent complex data strcutures using nested dictionaries or lists. While list can do the same but it is less intuitive.

---

12. **Describe a scenario where using a tuple would be preferable over a list.**

  Ans. A preferable scenario could be during storing of geographical coordinates of a location, which rarely changes so storing them in a tuple would ensure that the values do not change and it keeps pointing to the same location without fail.

---

13. **How do sets handle duplicate values in Python?**

  Ans. Sets remove the duplicate values as it is made to store unique elements only.

---

14. **How does the “in” keyword work differently for lists and dictionaries?**

  Ans.

    List:
  - When we use "in" with a list Python performs a linear search. It iterates through the list, comparing each element to the value we're searching for.
  - This means that the time it takes to find an element increases linearly with the size of the list.

    Dictionaries:
  - When we use "in" with a dictionary, Python checks if a specific key exists within the dictionary.
  - Dictionaries use hashing, which allows for very fast lookups. On average, checking for a key takes constant time.

---

15. **Can you modify the elements of a tuple? Explain why or why not.**

  Ans. No, we cannot modify the elements of a tuple since it is an immutable data structure.

---

16 **What is a nested dictionary, and give an example of its use case?**

  Ans. A nested dictionary in Python is a dictionary where one or more of its values are also dictionaries. This allows you to create hierarchical data structures, representing complex relationships between data.
  
  Structure:
  - A nested dictionary consists of key-value pairs.
  - The values can be of any data type, including other dictionaries.
  - This nesting can be done to multiple levels.
  
  Example Use Case: Representing Student Information
  
  Imagine we need to store information about students, including their names, grades, and contact details. A nested dictionary can be used to organize this data effectively.

---

17. **Describe the time complexity of accessing elements in a dictionary.**

  Ans.
  
  Average-Case Time Complexity: O(1) (Constant Time)
  - In most typical situations, accessing an element in a Python dictionary by its key has a time complexity of O(1).
  - This means that the time it takes to retrieve a value remains constant, regardless of the size of the dictionary.
  - This remarkable efficiency is achieved through the dictionary's underlying implementation using hash tables.
  - Hash tables allow for very fast lookups by converting keys into hash codes, which are then used to locate the corresponding values.
  
  Worst-Case Time Complexity: O(n) (Linear Time)
  - In rare cases, the worst-case time complexity for dictionary access can be O(n), where 'n' is the number of items in the dictionary.
  - This occurs when there are a large number of hash collisions. Hash collisions happen when different keys produce the same hash code.
  - When many collisions occur, the dictionary's performance can degrade, as it may need to resort to linear searches to find the correct value.
  - However, well-designed hash functions and collision resolution strategies minimize the likelihood of these worst-case scenarios.

---

18.  **In what situations are lists preferred over dictionaries?**

  Ans. Lists are preferred over dictionaries in Python when the following conditions are met:
  
  1. Ordered Sequences:
  - If the order of the elements is important, lists are the natural choice. Lists maintain the order in which elements are added.
  - Dictionaries, prior to Python 3.7, did not guarantee order, and even after they gained insertion order preservation, lists are still the primary tool for ordered sequences.
  
  2. Sequential Access:
  - If you need to access elements by their index (position), lists are more efficient.
  - Lists allow you to quickly retrieve elements using their integer index.
  
  3. Simple Iteration:
  - If you need to iterate through a collection of items in a simple, sequential manner, lists are often more straightforward.
  - Iterating through a list is typically simpler than iterating through a dictionary, especially if you only need the values and not the keys.
  
  4. Duplicate Values:
  - If you need to store a collection of items that may contain duplicate values, lists are the appropriate choice.
  - Dictionaries, by nature, require unique keys.
  
  5. Mutability:
  - If you need a collection of items that can be easily modified (add, remove, or change elements), lists are well-suited.
  - Lists are designed for mutability, allowing you to easily change their contents.
  
  6. Simpler Data Structures:
  - If you are working with a simple, homogeneous collection of items, lists provide a more lightweight and efficient solution.
  - Dictionaries introduce the overhead of key-value pairs, which may be unnecessary for simple collections.

---

19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**

  Ans. Dictionaries are considered "unordered" in the sense that they are not indexed by sequential integers like lists. You cannot access an element by its "position" in the same way you can with a list. Dictionaries are designed for key-based lookups, not position-based lookups.

  How this affects data retrieval:
  - Key-Based Access:
      - Dictionaries are optimized for retrieving values based on their keys.
      - The order in which the key-value pairs are stored does not affect the speed of key-based lookups, which are typically very fast (O(1) on average).
       
  - Iteration:
      - In Python 3.7 and later, we can rely on the insertion order when iterating through a dictionary.
      - However, if we need to access elements by their position, we should use a list.
      
  - No Indexing:
      - We cannot use integer indices (e.g., my_dict[0]) to access elements in a dictionary.
      - We must use the keys to retrieve the corresponding values.

---

20. **Explain the difference between a list and a dictionary in terms of data retrieval.**

  Ans. The fundamental difference between lists and dictionaries in terms of data retrieval lies in how we access the data and the efficiency of that access.
  
  Lists:
  
  1. Indexed Access:
  - Lists are accessed using integer indices, starting from 0.
  - You retrieve an element by its position within the list.
  
  2. Linear Search (in most cases):
  - If we need to find a specific value within a list (e.g., using the in keyword or list.index()), Python often performs a linear search, iterating through the list until the value is found.
  - This means the time it takes to find a value increases linearly with the size of the list (O(n) time complexity).
  
  3. Retrieval based on Position:
  - Lists are optimized for retrieving elements based on their sequential position.
  
  Dictionaries:
  
  1. Key-Based Access:
  - Dictionaries are accessed using unique keys.
  - We can retrieve a value by its associated key.
  
  2. Hashing (Fast Lookups):
  - Dictionaries use hashing, which allows for very fast lookups.
  - On average, retrieving a value by its key takes constant time (O(1) time complexity), regardless of the dictionary's size.
  
  3. Retrieval based on Key:
  - Dictionaries are optimized for retrieving values based on their unique keys.

---

# **Practical Questions**

1. **Write a code to create a string with your name and print it.**

In [1]:
name = "Mohit Sharma"
print(name)

Mohit Sharma

2. **Write a code to find the length of the string "Hello World".**

In [2]:
l = len("Hello World")
print(l)

11

3. **Write a code to slice the first 3 characters from the string "Python Programming".**

In [3]:
word = "Python Programming"
print(word[:3])

Pyt

4. **Write a code to convert the string "hello" to uppercase.**

In [4]:
word = "hello"
print(word.upper())

HELLO

5. **Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [7]:
sent = "I like apple"
print(sent.replace("apple", "orange"))

I like orange

6. **Write a code to create a list with numbers 1 to 5 and print it.**

In [8]:
l1 = []
for i in range(1,6):
  l1.append(i)
print(l1)

[1, 2, 3, 4, 5]

7. **Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [9]:
l1 = [1,2,3,4]
l1.append(10)
print(l1)

[1, 2, 3, 4, 10]

8. **Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [10]:
l1 = [1,2,3,4,5]
l1.remove(3)
print(l1)

[1, 2, 4, 5]

9. **Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [11]:
l1 = ['a','b','c','d']
print(l1[1])

b

10. **Write a code to reverse the list [10, 20, 30, 40, 50].**

In [12]:
l1 = [10,20,30,40,50]
l1.reverse()
print(l1)

[50, 40, 30, 20, 10]

11. **Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [13]:
t1 = (100,200,300)
print(t1)

(100, 200, 300)

12. **Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [16]:
t1 = ('red','green','blue','yellow')
print(t1[-2])

blue

13. **Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [20]:
t1 = (10,20,5,15)
print(min(t1))

5

14. **Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [21]:
t1 = ('dog','cat','rabbit')
print(t1.index('cat'))

1

15. **Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [25]:
fruits = ('banana','apple','orange')
print('kiwi' in fruits)

False

16. **Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [28]:
alpha = {'a','b','c'}
print(alpha)

{'b', 'a', 'c'}

17. **Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [29]:
s1 = {1,2,3,4,5}
s1.clear()
print(s1)

set()

18. **Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [30]:
s1 = {1,2,3,4}
s1.remove(4)
print(s1)

{1, 2, 3}

19. **Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [32]:
s1 = {1,2,3}
s2 = {3,4,5}
s = s1 | s2
print(s)

{1, 2, 3, 4, 5}

20. **Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [33]:
s1 = {1,2,3}
s2 = {2,3,4}
s = s1 & s2
print(s)

{2, 3}

21. **Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [36]:
d1 = {"name":"Mohit", "age":24, "city":"Indore"}
print(d1)

{'name': 'Mohit', 'age': 24, 'city': 'Indore'}

22. **Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [39]:
d1 = {'name':'John', 'age':25}
d1['country'] = 'USA'
print(d1)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. **Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [40]:
d1 = {'name':'Alice', 'age':30}
d1.get('name')

'Alice'

24. **Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [41]:
d1 = {'name':'Bob', 'age':22, 'city':'New York'}
d1.pop('age')
print(d1)

{'name': 'Bob', 'city': 'New York'}

25. **Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [42]:
d1 = {'name':'Alice', 'city':'Paris'}
print('city' in d1)

True

26. **Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [43]:
l1 = [1,True,'M',23.45,"Wow"]
t1 = (1,2,3,"This is true")
d1 = {'name':'Mohit', 'age':24, 'city':'Indore'}
print(l1)
print(t1)
print(d1)

[1, True, 'M', 23.45, 'Wow']
(1, 2, 3, 'This is true')
{'name': 'Mohit', 'age': 24, 'city': 'Indore'}

27. **Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced).**

In [44]:
import random

l1 = []
for i in range(5):
  l1.append(random.randint(1,100))
l1.sort()
print(l1)

[6, 8, 34, 69, 99]

28. **Write a code to create a list with strings and print the element at the third index.**

In [1]:
l1 = ['Wow','Lucky','Cookie','Super','Damn']
print(l1[3])

Super

29. **Write a code to combine two dictionaries into one and print the result.**

In [48]:
d1 = {'name':'John','age':32,'Country':'USA'}
d2 = {'salary':30000,'Occupation':'Manager','Location':'New York'}
d3 = d1.copy()
d3.update(d2)
print(d3)

{'name': 'John', 'age': 32, 'Country': 'USA', 'salary': 30000, 'Occupation': 'Manager', 'Location': 'New York'}

30. **Write a code to convert a list of strings into a set.**

In [47]:
l1 = ['Wow','Lucky','Cookie','Super','Damn']
s1 = set(l1)
print(s1)

{'Damn', 'Lucky', 'Super', 'Wow', 'Cookie'}